/* globals */
:root{--bg:#2b0000;--panel:#1a0000;--accent:#f4b400}
body{margin:0;font-family:Arial,Helvetica,sans-serif;background-color:var(--bg);color:#fff}
a{text-decoration:none;color:inherit}
/* 
/* Navbar 
.navbar{
    background-color:#400000;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 24px
}
.navbar-logo{
    display:flex;
    width: 50px; 
    height: 50px;
}
 .navbar-nome{color:var(--accent);font-weight:700;font-size:1.25rem} 
.navbar-links{
    display:flex;
    gap:20px
}

.navbar-links a:hover{
    color:var(--accent)
}

.navbar-actions{
    display:flex;
    align-items:center;
    gap:10px
}

.navbar select{
    background:transparent;
    border:1px solid var(--accent);
    color:white;
    padding:6px 8px;
    border-radius:6px
}

.navbar button{
    background-color:#d62828;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:8px;
    cursor:pointer;
    font-weight:700
}

.navbar button:hover{background-color:#b71c1c} */

/* Banner */
.banner {
    position: relative;
    max-width: 1000px;
    height: 360px; 
    margin: 32px auto;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.banner button {
    position: absolute;
    bottom: 18px;
    right: 18px;
    background-color: #d62828;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
}

.banner button:hover {
    background-color: #0e0d0d;
}


/* Movies */
.movies-section{
    max-width:1000px;
    margin:36px auto;
    padding:0 12px
}

.movies-section h2{
    font-size:1.6rem;
    margin-bottom:18px
}

.movie-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
    gap:18px
}

.movie-card{
    background-color:var(--panel);
    border-radius:12px;overflow:hidden;
    text-align:center;
    transition:transform .18s
}

.movie-card:hover{transform:scale(1.04)}

.movie-card img{
    width:100%;
    height:220px;
    object-fit:cover
}

.movie-card p{padding:10px;font-weight:700}