.ingresso-container {
  max-width: 430px;
  margin: 50px auto;
  padding: 25px;
  background: #2a0000;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(255, 200, 150, 0.25);
  color: white;
  text-align: center;
  border: 1px solid rgba(255, 200, 120, 0.25);
}

.ingresso-container h2 {
  margin-bottom: 20px;
  color: #f4d78a;
  text-shadow: 0 0 8px rgba(255, 220, 120, 0.4);
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
}

label {
  font-size: 15px;
  margin-bottom: -5px;
  color: #ffe4b5;
}

select,
input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 200, 120, 0.3);
  background-color: #3a0000;
  color: white;
  font-size: 15px;
}

select option {
  color: black;
}

.total {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  color: #f4d78a;
}

.btn-comprar {
  margin-top: 15px;
  padding: 12px;
  background-color: #d92626;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-comprar:hover {
  background-color: #ff3b3b;
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(255, 80, 80, 0.5);
}
