body {
  background-color: #2b0000;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}

a{text-decoration:none;color:inherit}

.container {max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}
/* Navbar */
.navbar{
    background-color:#400000;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 24px
}
.navbar-logo{
    display:flex;
    width: 50px; 
    height: 50px;
}
/* .navbar-nome{color:var(--accent);font-weight:700;font-size:1.25rem} */
.navbar-links{
    display:flex;
    gap:20px
}

.navbar-links a:hover{
    color:var(--accent)
}

.navbar-actions{
    display:flex;
    align-items:center;
    gap:10px
}

.navbar select{
    background:transparent;
    border:1px solid var(--accent);
    color:white;
    padding:6px 8px;
    border-radius:6px
}

.navbar button{
    background-color:#d62828;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:8px;
    cursor:pointer;
    font-weight:700
}

.navbar button:hover{background-color:#b71c1c}

.titulo {
  font-size: 2rem;
  color: #ffcc00;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.filme-card {
  background-color: #400000;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s;
}

.filme-card:hover {
  transform: scale(1.05);
}

.filme-card img {
  width: 100%;
  height: 330px;
  object-fit: cover;
}

.info {
  padding: 15px;
}

.info h3 {
  color: #ffcc00;
  margin-bottom: 8px;
}
